

.headerContainer {
  justify-content: space-between;
}

.addButton{
  border-radius: 40%;
}

.Todos-tab{
  margin-top: 60px;
}

.createdOn,.DueBT,.priorityBT,.SummaryBt{
  float: right;
}

.head{
  border-style: ridge;
}

.groupBy-Serach-container {
  display: flex;
  justify-content: space-around;
}